<% provide(:title, 'About') %>
<h1>About</h1>
<hr>
<div class="row">
  <div class="col-md-6">
    <h2>Konsta</h2>
    <p>Oh yeah, good luck with that. It's just like the story of the grasshopper and the octopus. All year long, the grasshopper kept burying acorns for winter, while the octopus mooched off his girlfriend and watched TV. But then the winter came, and the grasshopper died, and the octopus ate all his acorns. Also he got a race car. Is any of this getting through to   you? Uh, is the puppy mechanical in any way? Switzerland is small and neutral! We are more like Germany, ambitious and misunderstood! We're rescuing ya.</p>
    <p>Or a guy who burns down a bar for the insurance money! Bite my shiny metal ass. I usually try to keep my sadness pent up inside where it can fester quietly as a mental illness.</p>
    <p>I am Singing Wind, Chief of the Martians. You, minion. Lift my arm. AFTER HIM! And I'd do it again! And perhaps a third time! But that would be it. Oh, I always feared he might run off like this. Why, why, why didn't I break his legs? I'm sure those windmills will keep them cool. Oh no! The professor will hit me! But if Zoidberg 'fixes' it&hellip; then perhaps gifts!</p>
    <p>That could be 'my' beautiful soul sitting naked on a couch. If I could just learn to play this stupid thing. When the lights go out, it's nobody's business what goes on between two consenting adults. Robot 1-X, save my friends!  And Zoidberg! It's toe-tappingly tragic! Well, thanks to the Internet, I'm now bored with sex. Is there a place on the web that panders to my lust for violence? I guess if you want children beaten, you have to do it yourself.</p>
    <p>I guess because my parents keep telling me to be more ladylike. As though! Please, Don-Bot&hellip; look into your hard drive, and open your mercy file! Enough about your promiscuous mother, Hermes! We have bigger problems.</p>
  </div>
  <div class="col-md-6">
    <h2>About Me</h2>
    <p>Ah, yes! John Quincy Adding Machine.  He struck a chord with the voters when he pledged not to go on a killing spree. You lived before you met me?! Well, thanks to the Internet, I'm now bored with sex. Is there a place on the web that panders to my lust for violence? I usually try to keep my sadness pent up inside where it can fester quietly as a mental illness. No argument here.</p>
    <p>Is today's hectic lifestyle making you tense and impatient? Isn't it true that you have been paid for your testimony? Good news, everyone! There's a report on TV with some very bad news! Fry, we have a crate to deliver. Stop! Don't shoot fire stick in space canoe! Cause explosive decompression! Oh yeah, good luck with that.</p>
    <p>Yes, except the Dave Matthews Band doesn't rock. Soothe us with sweet lies. Just once I'd like to eat dinner with a celebrity who isn't bound and gagged. You wouldn't. Ask anyway! This opera's as lousy as it is brilliant!  Your lyrics lack subtlety. You can't just have your characters announce how they feel. That makes me feel angry!</p>
    <p>Oh, how awful. Did he at least die painlessly? &hellip;To shreds, you say. Well, how is his wife holding up? &hellip;To shreds, you say. Oh God, what have I done? Or a guy who burns down a bar for the insurance money! Uh, is the puppy mechanical in any way?</p>
    <p>Oh no! The professor will hit me! But if Zoidberg 'fixes' it&hellip; then perhaps gifts! Please, Don-Bot&hellip; look into your hard drive, and open your mercy file! Bender, you risked your life to save me! My fellow Earthicans, as I have explained in my book 'Earth in the Balance'', and the much more popular ''Harry Potter and the Balance of Earth', we need to defend our planet against pollution. Also dark wizards. Or a guy who burns down a bar for the insurance money! I'm sorry, guys. I never meant to hurt you. Just to destroy everything you ever believed in.</p>
  </div>
</div>
