<% provide(:title, 'Home') %>
<h1>Konsta</h1>
<p>
  This is the Home page for Konsta!
  Be sure to come back often to see if anything good happened!
</p>
<p>
  Alternatively, you can visit the project's <a href="https://github.com/gsprenger/konsta">Github repository</a>."
</p>
