<% provide(:title, 'Your monthly accounting made easy') %>
<h1>Welcome!</h1>
<hr>
<p>This is the Home page for Konsta! Be sure to come back often to see if anything good happened!</p>
<p>Alternatively, you can visit the project's <a href="https://github.com/gsprenger/konsta">Github repository</a>.</p>

<p>That could be 'my' beautiful soul sitting naked on a couch. If I could just learn to play this stupid thing. I can explain. It's very valuable. Please, Don-Bot&hellip; look into your hard drive, and open your mercy file! Switzerland is small and neutral! We are more like Germany, ambitious and misunderstood! Bender, quit destroying the universe! Yes, except the Dave Matthews Band doesn't rock.</p>
<p>I'm sure those windmills will keep them cool. Kif, I have mated with a woman. Inform the men. And I'd do it again! And perhaps a third time! But that would be it.</p>
<p>File not found. Or a guy who burns down a bar for the insurance money! Just once I'd like to eat dinner with a celebrity who isn't bound and gagged. Or a guy who burns down a bar for the insurance money! You wouldn't. Ask anyway! Who are you, my warranty?!</p>
<p>Oh, how awful. Did he at least die painlessly? &hellip;To shreds, you say. Well, how is his wife holding up? &hellip;To shreds, you say. I didn't ask for a completely reasonable excuse! I asked you to get busy! Does anybody else feel jealous and aroused and worried? You know the worst thing about being a slave? They make you work, but they don't pay you or let you go.</p>
<p>Take me to your leader! Oh God, what have I done? Enough about your promiscuous mother, Hermes! We have bigger problems. It's toe-tappingly tragic! My fellow Earthicans, as I have explained in my book 'Earth in the Balance'', and the much more popular ''Harry Potter and the Balance of Earth', we need to defend our planet against pollution. Also dark wizards.</p>
